<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Hike</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap"
    rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/main.css">
  <!-- <link rel="stylesheet" href="/style/survey.css"> -->
</head>

<body class="contact">
  <header>
    <div class="menu-icon">
      <svg viewbox="0 0 60 60" width="40px" height="40px">
        <line x1="5%" y1="50%" x2="95%" y2="50%" />
        <line x1="5%" y1="50%" x2="95%" y2="50%" />
      </svg>
    </div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/hikes">My Hikes</a></li>
        <li><a href="/recommendations">Recommendations</a></li>
      </ul>
    </nav>
  </header>
  <h1>Edit Hike</h1>
  <main>
    <div class="image-wrapper"></div>
    <!-- Form to update a hike record -->
    <form action="/editHike" method="POST" class="form">
      <input type="hidden" name="hike_id" id="hike_id" value="<%= myhikes[0].hike_id %>">

      <label for="hike_name">Name:</label>
      <input type="text" name="hike_name" id="hike_name" value="<%= myhikes[0].hike_name %>">

      <label for="description">Description:</label>
      <input type="text" name="description" id="description" value="<%= myhikes[0].hike_description %>">

      <label for="date">Date:</label>
      <!-- <input type="date" name="date" id="date" value="<%= myhikes[0].date %>"> -->

      <!-- Reformat date so that it shows in yyyy-mm-dd format -->
      <% const dateObject=myhikes[0].date; const year=dateObject.getFullYear(); const month=String(dateObject.getMonth()
        + 1).padStart(2, '0' ); const day=String(dateObject.getDate()).padStart(2, '0' ); const
        formattedDate=`${year}-${month}-${day}`; %>
        <input type="date" name="date" id="date" value="<%= formattedDate %>">

        <label for="hike_length">Length (in miles):</label>
        <input type="number" name="hike_length" id="hike_length" value="<%= myhikes[0].length %>" min="0" step="0.01">

        <label for="elevation">Elevation (in feet):</label>
        <input type="number" name="elevation" id="elevation" value="<%= myhikes[0].elevation %>" min="0" step="1">

        <label for="location">Location:</label>
        <input type="text" name="location" id="location" value="<%= myhikes[0].location %>">

        <label for="rating">Rating: </label>
        <div>
          <input type="range" name="rating" id="rating" value="<%= myhikes[0].rating %>" list="values" min="1" max="5"
            step="1">
          <datalist id="values">
            <option value="1" label="1"></option>
            <option value="2" label="2"></option>
            <option value="3" label="3"></option>
            <option value="4" label="4"></option>
            <option value="5" label="5"></option>
          </datalist>
        </div>
        <!-- <input type="number" name="rating" id="rating" value="<%= myhikes[0].rating %>"> -->

        <button type="submit" class="button">Update</button>
    </form>
  </main>
  <ul class="background">
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <footer>
    <p><strong>Section 3-3 &copy; 2023</strong></p>
  </footer>

  <script>
    document.querySelector(".menu-icon").addEventListener("click", function () {
      this.parentElement.classList.toggle("close");
    });
  </script>

</body>

</html>